*{
	padding:0;
	margin:0;
}
li{
	list-style: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'arial',sans-serif;
	background:#f4f4f4;
}
.header{
	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
	box-shadow:0 1px 2px #eee;
}
.logo{
	width: 317px;
	height: 75px;
	display: inline-block;
	background: url(../images/logo.png) no-repeat center center;
	padding: 5px;
	text-indent: -9999px;
	margin-left: 20px;
}
.section{
	min-height: 500px;
}
.welcome{
	margin:100px auto 20px;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
}
.loginBox{
	width: 360px;
	background: #fff;
	box-shadow:1px 2px 15px 1px rgba(0,0,0,0.4);
	-webkit-box-shadow:1px 2px 15px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:1px 2px 15px 1px rgba(0,0,0,0.2);
	-ms-box-shadow:1px 2px 15px 1px rgba(0,0,0,0.2);
	-o-box-shadow:1px 2px 15px 1px rgba(0,0,0,0.2);
	padding: 20px;
	margin:20px auto 120px; 
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;

}
.input{
	height: 60px;
	vertical-align: middle;
}
.input label{
	width: 100px;
	text-transform: uppercase;
	font-size:14px;
	color: #2d3443;
	font-weight: 600;
	display: inline-block;
}
.inputField{
	padding:8px 15px ;
	border: 1px solid #ccc;
	outline: none;
  font-size: 14px;
  width: 220px;
}
.inputField:focus{
	border: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-ms-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-o-box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.submitField{
	padding:10px;
	background: rgb(255, 140, 0);
	border: 0;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.reset{
	background: #ccc;
}
.footer{
	background:#2d3443;
	padding:10px 20px;
	color: #fff;
	font-size: 14px;
}
/** Inner page style starts here **/
.education-detail h3{
	margin: 20px 0;
}
.education-detail, .titleHeading,.infoField{
	width: 1048px;
	margin:0 auto;
	clear: both;
}
.titleHeading span{
	width: 262px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
	background: #c1c1c1;
	float: left;
	font-size: 14px;
	font-weight:600;
} 
.infoField{
	background:#e2e2e2;
	overflow: hidden;
}
.infoField p{
	width: 252px;
	display: inline-block;
	text-align: center;
	padding: 10px 5px;
	float: left;
}
.infoField p:last-child{
	border-right: 0;
}
.pull-right{
	float: right;
	clear: both;
}
.extra{
	font-size: 14px;
	margin:10px 20px 0 0;
	display: inline-block;
}
.education-detail .input label{
	width: 215px;
	height: inherit;
}
.txtarealabel, textarea{
	float: left;
	margin-right: 5px;
}
/** Inner page styles ends here **/ 